{% extends 'base.html.twig' %}
{% block title %}Project index{% endblock %}
{% block body %}
<body>
<div class="img-background" style="background-image: url('https://i.postimg.cc/3JPjfXgK/nasa-Q1p7bh3-SHj8-unsplash.jpg')">
    <div class="wrapper">
        <div class="content">
            <h1 class="section-me">Bonjour, je suis Julien</h1>
            <p class="subtile">Bienvenue sur mon portfolio !</p>
        </div>
    </div>
</div>
<div class="container-fluid presentation-section" id="Présentation">
    <div class="container presentation-section">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-3 section-picture">
                <img src="https://i.postimg.cc/jjdWmKp4/Julien.png" class="rounded-circle size-picture" alt="Photo Julien Willette">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-3 section-description">
                <p class="description"> Actuellement en reconversion professionelle, 
                    j'ai suivi une formation de 5 mois spécialisé en PHP. Je souhaite à présent approfondir mes connaisances en JS en suivant une 
                    formation proffesionelle d'un an spécialisé en Node, Js, React.
                    Je suis à la recherche d'une entreprise en alternance 
                    qui se déroule d'avril 2021 à avril 2022.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluide img-background" style="background-image: url('https://i.postimg.cc/QVGRRpFH/guillermo-ferla-Oze6-U2m1o-YU-unsplash.jpg')">
    <h1 class="title-project" id="Projets"> Mes projets</h1>
    <div class="row justify-content-around align-items-center text-center">
        {% for project in projects %}
        <div class="card col-lg-6 col-md-3 col-sm-6 col-xs-4 cards-color" style="width: 22rem;">
            <img src="{{ project.picture }}" class="img-fluid cards-img" alt="{{ project.picture }}">
            <div class="card-body">
                <h4 class="card-title">{{ project.name }}</h4>
                <p class="card-text">{{ project.description }}</p>
                <p class="card-text">Technologies utilisées:</p>
                <p class="card-text">{{ project.techno }}</p>
                <div class="justify-content-around">
                    <a href="{{ project.url }}" class="btn btn-primary color-button">Lien du site</a>
                    <a href="{{ project.urlGitHub }}" class="btn btn-primary color-button">Lien Git Hub</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="contact-section" id="Contact">
    <br>
    <br>
    <div class="container-fluide">
        <div class="row">
            <h2 class="title-project">Contact</h2>
            <p class="contact">Qualité | Résultats | Impréssions</p>
            <section class="contact">
                <a href="https://www.linkedin.com/in/julien-willette-2939561b6/" class="linkedin-btn" target="_blank">Linkedin</a>
                <a href="https://github.com/julienWillette" class="contact-btn" target="_blank">Github</a>
                <a href="#" class="contact-btn" target="_blank">Twitter</a>
                <a href="#" class="contact-btn" target="_blank">Email</a>
                <a href="#" class="contact-btn" target="_blank">Call me</a>
            </section>
        </div>
    </div>
    <br>
    <br>
</div>
</body>
{% endblock %}
